{% extends 'base.html.twig' %}

{% block title %}Your Blog{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello ! ✅</h1>
    <a href="{{ path('app_admin_dashboard') }}">Admin</a><br><br>
    Posts:
    {%  for post in posts %}
    <p>{{ post.title }}</p>
        <p>{{ post.author }}</p>
        <p><img src="{{ post.image }}" width="400" height="400" alt="{{ post.title }}"></p>
    <p>{{ post.shortdesc }}</p>
    <p>{{ post.body }}</p><br>
        <hr>
        <div class="row">
            <div class="col-lg-8  align-center">
                <a href="{{ path('app_user_post_comment', {id: post.id}) }}" class="btn btn-primary">Place your comment</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8  align-center">
                {% for comment in post.comment %}
                    <p>{{ comment.body }}</p>
                {% endfor %}
            </div>
        </div>
        <hr>
    {% endfor %}
</div>
{% endblock %}
